/*
 * @file
 * CSS for sirsi_getacard module block and complete page.
 */

.two_thirds {
  padding: 5px;
}

.one_third {
  padding:3px;
}

.sirsi_getacard_block,
.confirmation-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-auto-rows: minmax(100px, auto);
}

#accordion dt {
  padding: 6px;
  border: 1px solid black;
  cursor: pointer;
}

.live-bar {
  background-color: #000;
  color: #fff;
}

@media only screen and (max-width: 750px) {

  .two_thirds {
     grid-column: 1 / span 2;
  }

  .one_third {
     grid-column: 1 / span 1;
  }
}
