/*
 * @file
 * CSS for sirsi_getacard module form.
 */

.formbutton {
  margin-bottom: 15px;
  margin-right: 1px;
  font-weight: bold;
  position: relative;
  cursor: pointer;
  text-align: center;
  padding: 10px 0;
}

.tab {
  overflow: hidden;
  border: 1px;
}

.formbutton {
  float: left;
  border-bottom: 1px solid;
  padding: 4px 14px 0px 2px;
  transition: 0.3s;
  margin: 0.5em;
}

.medium-auto {
  -webkit-flex:1 1 0;
  flex:1 1 0;
  width:auto;
}

#sirsi-getacard-form .form-item {
  max-width: 370px;
}

.active {
  color: #000000;
}

.completed {
  color:  #909497;
}

.unclicked {
  color:  #909497;
}

#sirsi-clr-btn .button {
  background-color: transparent;
  border: 1px solid #000000;
  color: #000000;
  padding: .60em .85em;
  margin: 1px 3px;
}

.form-actions {
  display: flex;
}

#sirsi-reset-btn .button {
  background-color: transparent;
  border: 0px;
  color: #000000;
  padding: .60em .85em;
  margin: 1px 3px;
  text-decoration: underline;
}

#voter-reg {
  padding-top: 1px;
  padding-bottom: 3px;
}

#voter-reg img {
  max-width: 100px;
  height: auto;
}
