{#
/**
 * @file
 * Default theme implementation for DCPL get-a-card block.
 *
 * Available variables:
 *   - getacard
 *   - accord
 *
 * @ingroup themeable
 */
#}
<div class="sirsi_getacard_block">
  <div class="two_thirds">
    {{ getacard }}
  </div>
  <div class="one_third">
    <p>Additional information to apply for a card if you:</p>
    {{ accord }}
  </div>
</div>
